<% @page_title = 'Current Users' -%>

<%= content_tag('p', link_to('<--- Back', staff_path)) %>

<div class="userlist left">
	<%= render(:partial => 'listing') %>
</div>
<div class="userlist right">
	Please select a user on the left or create a new user.<br />
	<%= link_to('Add New user', new_user_path) %>
</div>
