<table style="color:#f1f1f1;">
	<tr>
		<td>Your name:
		<%= text_field(:comment, :author) %></td>
	</tr>
	<tr>
		<td>Your email:
		<%= text_field(:comment, :author_email) %></td>
	</tr>
	<tr align="right">
		<td>Comment:</td>
		<td><%= text_area(:comment, :content, :cols => 45, :rows => 20) %></td>
	</tr>
</table>
